BasedOnStyle: LLVM
IndentWidth: 4

ColumnLimit: 150
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: BlockIndent
