BasedOnStyle: LLVM
IndentWidth: 4

ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: BlockIndent
